body {
            margin: 0;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: #ffffff;
            text-align: center;
            color: #5a3e1b;
}

.hero {
    margin-top: 0px;
    text-align: center;
    padding: 80px 0px;
    background: linear-gradient(to bottom, #f1e5c9, #fff);
}

.hero h1 {
    font-size:xx-large;
    color: #5a3e1b;
}

.hero p {
    font-size: 1.2em;
    color: #6f5e45;
    margin-bottom: 30px;
}

.hero a {
    display: inline-block;
    background-color: #8c6a2e;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.hero a:hover {
    background-color: #a9813a;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px 0;
    padding: 0 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #5a3e1b;
}

.card p {
    color: #6f5e45;
    font-size:small;
}



.mission {
  background: linear-gradient(to top, #f1e5c9, #ffffff);
}

.mission-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.mission-icons div {
  background-color: #e8d7b5;
  padding: 20px;
  border-radius: 12px;
  width: 100px;
  font-weight: bold;
}

/* ===== GENRES SECTION ===== */
.genres {
  background-color: #f1e5c9;
  padding: 50px;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.genre-card {
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  font-weight: 600;
  transition: transform 0.3s;
}

.genre-card:hover {
  transform: translateY(-5px);
}

/* ===== HOW IT WORKS ===== */
.how-it-works {
  background: linear-gradient(to bottom, #f1e5c9, #fff);
  padding: 50px;
}

h3 a {
  text-decoration: none;
  color: inherit;
}

h3 a:hover {
  text-decoration: underline;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.step {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  width: 280px;
  padding: 20px;
}

/* ===== CTA SECTION ===== */
.cta {
  color: rgb(68, 40, 17);
}

.cta-btn {
  display: inline-block;
  background-color: #eee0c4;
  color: #3b2f2f;
  padding: 12px 24px;
  border-radius: 6px;
  margin: 10px;
  transition: 0.3s;
  font-weight: 600;
}

.cta-btn.secondary {
  background-color: #eee0c4;
}

.cta-btn:hover {
  opacity: 0.8;
}

