body {
    background-color:rgb(255, 255, 255);
    background-image: url("library.jpg");
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: rgb(247, 251, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
}




